# Spotify API Credentials
SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/callback

# Security
SESSION_SECRET=this_must_be_at_least_32_characters_long_for_iron_session

# Vercel KV / Redis (Upstash)
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/spotify_wrapped?schema=public"

# Site config
NEXT_PUBLIC_SITE_URL=http://localhost:3000
